[submodule "Modules/dashboard"]
	path = Modules/dashboard
	url = https://github.com/pdv-software/dashboard.git
[submodule "Modules/device"]
	path = Modules/device
	url = https://github.com/pdv-software/device.git
[submodule "Modules/app"]
	path = Modules/app
	url = https://github.com/pdv-software/app.git
[submodule "Modules/collector"]
	path = Modules/collector
	url = https://github.com/pdv-software/collector.git
